h1 {
  text-align: center;
}
.main {
  background-color: pink;
  display: flex;
  height: 80vh;
}
.inner {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
@media only screen and (max-width: 762px) {
  .inner {
    background-color: red;
    height: 40vh;
    width: 60%;
  }
}
@media only screen and (min-width: 762px) {
  .inner {
    background-color: green;
    height: 60vh;
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .inner {
    background-color: blue;
    height: 70vh;
    width: 60%;
  }
}
